
.xempire-1
{
  background: url('./../../../public/images/xempire/Not\ Pixel\ .png') no-repeat center center fixed;
  background-size: cover;
}

.xempire-2
{
  background: url('./../../../public/images/xempire/Not\ Pixel\ .png') no-repeat center center fixed;
  background-size: cover;
}