.blum-1
{
  background: url('./../../../public/images//pwas/1.png') no-repeat center center fixed;
  background-size: cover;
}

.blum-2
{
  background: url('./../../../public/images/pwas/1.png') no-repeat center center fixed;
  background-size: cover;
}