
.tapswap-1
{
  background: url('./../../public/images/tapswap/1.png') no-repeat center center fixed;
  background-size: cover;
}

.tapswap-2
{
  background: url('./../../public/images/tapswap/2.png') no-repeat center center fixed;
  background-size: cover;
}