@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face
{
  font-family: VazirMatn;
  src: url('./../../../public/font/vazirmatn.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

#container
{
  height: 100vh;
  font-family: VazirMatn;
  direction: rtl;
}

input
{
  direction: rtl;
}